.tab-text {
  color: white; /* Color por defecto */
  transition: color 0.3s ease; /* Transición suave */
}

.tab-text:hover {
  color: #64B5F6; /* Color al hacer hover */
}

.tab-text-active {
  color: #64B5F6; /* Color cuando está seleccionado */
}